.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: $m-size $m-size;
    margin: 0;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;
}

.add-option__input {
    flex: 1;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid darken($off-white, 10%);
    margin-right: $s-size;
    margin: 0 0 $s-size 0;
}

.add-option__input:focus {
    outline: none;
}

@media(min-width: 45rem) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        height: 5rem;
        margin: 0 $s-size 0 0; 
    }
}